{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": "commonjs",
        "targets": {
          "browsers": [
            "last 2 versions"
          ],
          "node": "current"
        },
        "useBuiltIns": "entry",
        "debug": false
      }
    ]
  ]
}
