- BEMPUG.modifier = '_';

mixin header
    +b('header', {t: 'header'})
        div(class="row")
            div(class="block_1" style="font-family: SuisseIntI; font-weight: 800;")= header.test
            div(class="block_2" style="font-family: Geometria; font-weight: 600;")= header.test
